@import url('/static/theme.css');

pre {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 2em;
}


@media (max-width: 900px) {
    pre {
        top: 25%;
        left: 5%;
        width: 100%;
        font-size: 1em;
        margin: 0px;
        padding: 0px;
        text-align: start;
    }
}