@import url('/static/theme.css');

.not-subscribed {
    background-color: var(--secondary-color);
    position: absolute;
    left: 30%;
    bottom: 5%;
    width: 10%;
    height: 90%;
    transition: height 0.5s;
}

.subscribed {
    background-color: var(--tint-color);
    position: absolute;
    left: 50%;
    bottom: 5%;
    height: 80%;
    width: 10%;
    transition: height 0.5s;
}

.not-subscribed-label {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: rotateZ(-90deg);
    z-index: 1;
    height: 2%;
    color: var(--background-color);
}

.subscribed-label {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: rotateZ(-90deg);
    z-index: 1;
    height: 2%;
    color: var(--background-color);
}

.equalize-bar {
    animation: equalize 3s forwards;
}

.switch-right {
    animation: switch-right 3s forwards;
}

.switch-left {
    animation: switch-left 3s forwards;
}


.data-section {
    position: absolute;
    top: 10%;
    left: 70%;
    color: var(--tint-color);
}

.action-section {
    position: absolute;
    width: 30%;
    left: 5%;
    top: 10%;
    height: 90%;
    color: var(--tint-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upload-button {
    width: 75%;
    height: 2em;
}

.drafts-button {
    width: 75%;
    height: 4em;
}

.published-button {
    width: 75%;
    height: 5em;
}

.email-dashboard {
    width: 75%;
    height: 5em;
}


@keyframes switch-right {
    from { transform: translateX(0%); height: 90%;}
    to { transform: translateX(200%); height: 80%;}
}

@keyframes switch-left {
    from { transform: translateX(0%); height: 80%;}
    to { transform: translateX(-200%); height: 90%;}
}

@keyframes equalize {
    from { }
    to { height: 85%; }
}

@media (max-width: 900px) {
    .subscribed, .not-subscribed {
        display: none;
    }

    .data-section {
        left: 30%;
    }

    .data-section p, .data-section h1 {
        font-size: 1em;
    }

    .action-section {
        top: 80%;
        left: 25%;
        width: 60%;
    }

    .action-section button {
        width: 100%;
        font-size: 1em;
    }

}