@import url('/static/theme.css');

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    position: absolute;
    height: 90%;
    width: 99%;
}

.video-label {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.5em;
}

.video {
    position: relative;
}

.revert-button {
    background-color: var(--secondary-color);
    color: var(--tint-color);
    border: none;
    position: relative;
    width: 20%;
    left: 40%;
}

.page-link {
    color: var(--tint-color);
    font-size: 1em;
}

.pages {
    position: absolute;
    left: 25%;
    width: 50%;
    top: 80%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 2em;
    flex-wrap: wrap;
}

.revert-button:hover {
    background-color: var(--tint-color);
    color: var(--background-color);
    cursor: pointer;
}

.back-button {
    background-color: transparent;
    color: var(--tint-color);
    border: none;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 5%;
    font-size: 1.5em;
    z-index: 1;
}

.forward-button, .previous-button {
    display: none;
    background-color: transparent;
    color: var(--tint-color);
    border: none;
    font-size: 2em;
}

.nav-bar {
    display: none;
    position: absolute;
    width: 100%;
    top: 90%;
    left: 0%;
    text-align: center;
}

.page-num {
    display: none;
    color: var(--tint-color);
    font-size: 1em;
    text-align: center;
}

@media (max-width: 900px) {
    .page-link {
        display: none;
    }

    .forward-button, .previous-button, .page-num {
        font-size: 1em;
        display: inline-block;
    }

    .nav-bar {
        display: block;
    }

    .page-num {
        left: 40%;
        width: 10%;
        display: inline-block;
    }

    .revert-button {
        width: 40%;
        left: 30%;
    }
}