@import url('/static/theme.css');

body {
    background-color: var(--background-color);
}

.form {
    position: absolute;
    left: 25%;
    top: 40%;
    width: 30%;
    height: 60%;
}

.header {
    position: absolute;
    left: 25%;
    top: 5%;
    font-size: 6vw;
    color: var(--secondary-color);
}

.email-field {
    position: absolute;
    border-radius: 0;
    left: 50%;
    height: 10%;
    width: 75%;
    box-shadow: outset 5px 5px 10px #5a7a5e,
                outset -5px -5px 10px #89b18a;
    font-size: 2em;
    transition-duration: 5s;
    color: var(--tint-color);

}

.email-field:hover::placeholder {
    color: var(--background-color);
}


.submit-button {
    position: absolute;
    top: 20%;
    left: 60%;
    border: none;
    background-color: var(--secondary-color);
    color: var(--tint-color);
    width: 50%;
    height: 10%;
    font-size: 2em;
    border-radius: 2.5%;
    box-shadow: outset 5px 5px 10px #5a7a5e,
                outset -5px -5px 10px #89b18a;
}

.whats-up {
    visibility: collapse;
}


.submit-button:hover {
    background-color: var(--tint-color);
    color: var(--background-color);
    transition-duration: 5s;
}


@keyframes float {
    0% {
        transform: translateY(0%);

    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media (max-width: 900px) {
    .header {
        top: 10%;
        left: 25%;
        font-size: 1.75em;
    }

    .form {
        left: 25%;
        top: 25%;
        width: 50%;
        height: 75%;
    }

    .email-field {
        top: 10%;
        width: 100%;
        left: 0%;
        height: 10%;
        font-size: 1.5em;
        border-radius: 0.5%;
        animation: float 2s ease-in-out infinite;
    }

    .submit-button {
        top: 50%;
        height: 10%;
        width: 70%;
        left: 15%;
        font-size: 1em;
    }

    .whats-up {
        visibility: visible;
        font-size: 1.25em;
        position: absolute;
        top: 90%;
        left: 0%;
        width: 100%;
        color: var(--tint-color);
        text-align: center;
    }
}