@import url('theme.css');

.hamburger {
    position: fixed;
    left: 92.5%;
    top: 2.5%;
    background-color: transparent;
    background: none;
    border: none;
    color: var(--secondary-color);
    font-size: 4em;
    z-index: 2;
}

.opened-hamburger {
    transform: rotateZ(90deg);
    transition-duration: 0.5s;
}

.closed-hamburger {
    transform: rotateZ(0deg);
    transition-duration: 0.5s;
}

.menu {
    position: fixed;
    left: 100%;
    top: 0%;
    height: 100%;
    background-color: var(--background-color);
    width: 20%;
    z-index: 2;
    border-radius: 0.5%;
}

.menu-opened {
    transform: translateX(-100%);
    transition-duration: 1s;
}

.menu-closed {
    transform: translateX(100%);
    transition-duration: 3s;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 35%;
    width: 40%;
    top: 20%;
    height: 80%;
    z-index: 2;
}


.menu-button {
    position: absolute;
    left: 10%;
    top: 50%;
    border: none;
    background-color: var(--secondary-color);
    color: var(--tint-color);
    width: 80%;
    height: 5%;
    z-index: 2;
}

.menu-button:hover {
    background-color: var(--tint-color);
    color: var(--background-color);
}

.admin-button {
    border: none;
    background-color: var(--secondary-color);
    color: var(--tint-color);
    width: 100%;
    height: 8%;
    z-index: 3;
}

.admin-button:hover {
    background-color: var(--tint-color);
    color: var(--background-color);
}


.menu-link {
    display: block;
    border: none;
    color: var(--secondary-color);
    z-index: 3;
    text-decoration: none;
}

.menu-link:hover {
    color: var(--tint-color);
}

.welcome-message {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 40%;
    color: var(--secondary-color);
}

.about-me {
    position: absolute;
    top: 95%;
    left: 15%;
    width: 35%;
}

.admin {
    position: absolute;
    top: 95%;
    left: 50%;
    width: 35%;
}

.logout-menu {
    position: absolute;
    top: 90%;
    left: 40%;
    background-color: var(--secondary-color);
    border: none;
    color: var(--background-color);
    z-index: 3;
}

.faq {
    position: absolute;
    top: 95%;
    left: 80%;
    width: 20%;
}

.clock {
    position: absolute;
    left: 25%;
    font-size: 3em;
    top: 0%;
    z-index: 1;
    color: var(--background-color);
    justify-content: center;
    text-shadow: 1px 1px var(--secondary-color);
}

.fade-in {
    animation: fade-in forwards 1s;
}

.fade-out {
    animation: fade-in reverse 1s;
}

.video-wrap {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: black;
}

.video-player {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    height: 80%;
    z-index: 0;
    aspect-ratio: auto;
    object-fit: cover;   /* or contain */
}

.background-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: blur(20px) brightness(100%);
    z-index: -1;
    pointer-events: none;
}

.videoplayer:hover::before {
    opacity: 0.5;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: black; /* Fallback */
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes button-glow {
    0% {
        box-shadow: 0px 0px 20px var(--secondary-color);
        color: var(--secondary-color);
        background-color: var(--tint-color);
    }
    50% {
        box-shadow: 0px 0px 50px var(--tint-color);
        background-color: var(--secondary-color);
        color: var(--tint-color);
    }
}


@media (max-width: 900px) {
    .vjs-big-play-button{
        width: 30%;
        font-size: 6em !important;
    }

    .hamburger {
        font-size: 5em;
        left: 75%;
        z-index: 2;
        top: 1%;
    }

    .menu {
        position: fixed;
        left: 0%;
        top: -100%;
        height: 100%;
        background-color: var(--background-color);
        width: 100%;
        z-index: 1;
        border-radius: 0.5%;
    }

    .menu-opened {
        transform: translateY(100%);
        transition-duration: 1s;
    }

    .menu-closed {
        transform: translateY(-100%);
        transition-duration: 3s;
    }

    .menu-button {
        left: 20%;
        top: 50%;
        width: 60%;
        height: 10%;
        z-index: 0;
    }

    .admin-button {
        height: 7.5%;
    }

    .menu-button {
        animation: button-glow 2s infinite;
        color: var(--secondary-color);
        background-color: var(--tint-color);
    }

    .welcome-message
    {
        top: 5%;
        left: 10%;
        width: 80%;
        font-size: 1.5em;
        text-align: center;
    }

    .clock {
        display: none;
    }

}