.fade-in {
    animation: fade-in forwards 1s;
}

.fade-out {
    animation: fade-in reverse 1s;
}

.video-player {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}