@import url('/static/theme.css');

.error {
    position: absolute;
    background-color: var(--background-color);
    width: 100%;
    height: 10%;
    top: 0%;
    color: var(--error-color);
}

.header {
    position: absolute;
    left: 35%;
    top: 10%;
    color: var(--secondary-color);
    text-decoration: overline underline wavy;
    font-size: 4em;
}

.email-field {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    height: 5%;
}

.code-field {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 5%;
}

.code-field:hover {
    box-shadow: 10px 10px 100px 100px var(--secondary-color);
    transition-duration: 5s;

}

.submit-button {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10%;
    height: 7.5%;
    border-radius: 2%;
}

@keyframes jump {
    0% {
        transform: translateY(0%);
    }
    30% {
        transform: translateY(0%);
    }
    65% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media (max-width: 900px) {
    .header {
        font-size: 2em;
        left: 20%;
    }
    .submit-button {
        width: 50%;
        left: 25%;
        animation: jump 3s infinite;
    }
    .email-field {
        width: 40%;
        left: 30%;
    }
    .code-field {
        width: 40%;
        left: 30%;
    }
}