<!DOCTYPE html>
<html>
    <head>
        <title>Page not found - Scenery</title>
        <link href="/static/404.css" rel="stylesheet">
        <script src="/static/404.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <pre>
        I couldn't find the resource you were looking for

        \_:_/
          |
         / \
         
        Do you need help?

        I don't really care, as I'll rescue you anyway. You're welcome.
        </pre>
    </body>
</html>