<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Me - Scenery</title>
        <link href="static/about_me.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 class="header">About Me</h1>
        <p class="main-content">Hi{{" " + user.name if user and user.name else ""}}! My name is Shayan, and I'm a high school student from Morgan Hill, California.
            <br> When I'm out and about, I always record videos of things I find beautiful or peaceful. I always think to myself that I'll build somewhere to host these videos. So, I am! This is my website to play these videos so they don't sit on my phone unused.
            I love coding so this website was just part of the fun!
        </p>
    </body>
</html>