<!DOCTYPE html>
<html>
    <head>
        <title>View drafts - Scenery</title>
        <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet">
        <link href="/static/admin_drafts.css" rel="stylesheet">
        <script src="/static/admin_drafts.js"></script>
    </head>
    <body>
        {% for draft in drafts %}
            <video
            id="my-video"
            class="video-js video-player"
            controls
            preload="auto"
            width="640"
            height="264"
            data-setup="{}"
        >
            <source src="{{draft.src}}" type="application/x-mpegurl">
            <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
            >
            </p>
        </video>
        <button class="delete-button" data-video-name="{{draft.video_name}}">Delete</button>
        <button class="publish-button" data-video-name="{{draft.video_name}}">Publish</button>
        {% endfor %}
        <script src="https://vjs.zencdn.net/8.23.4/video.min.js"></script>
    </body>
</html>