<!DOCTYPE html>
<html>
    <head>
        <title>View drafts - Scenery</title>
        <link href="/static/admin_drafts.css" rel="stylesheet">
        <script src="/static/admin_drafts.js"></script>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <button class="back-button">Home</button>
        <div class="videos">
        {% for draft in drafts %}
        <div class="video">
            <video
            class="video-player"
            controls>
            <source src="{{draft.src}}" type="video/webm">
        </video>
        <p class="video-label">{{draft.video_name}}</p>
        <button class="delete-button" data-video-name="{{draft.video_name}}">Delete</button>
        <button class="publish-button" data-video-name="{{draft.video_name}}">Publish</button>
        </div>
        {% endfor %}
        </div>
    </body>
</html>