<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="static/faq.css" rel="stylesheet">
        <title>FAQ - Scenery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <h1 class="header">Frequently Asked Questions</h1>
        <p class="faq">
            <b>1. What is this website? </b><br>
            This websites hosts a never-ending stream of peaceful videos! <br> <br>
            <b>2. Who made this? </b><br>
            <a href="/about-me" class="link">Me!</a> <br> <br>
            <b>3. Where are the videos sourced? </b><br>
            I record each and every video myself. <br> <br>
            <b>3. Why is the quality so low?</b><br>
            You can get access to higher qualities by <a href="/subscribe" class="link">subscribing</a> to support me! <br>
        </p>
    </body>
</html>