<!DOCTYPE html>
<html>
    <head>
        <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet">
        <link href="static/index.css" rel="stylesheet">
        <script src="static/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if message %}
        <h1>{{message}}</h1>
        {% endif %}
        <button class="hamburger closed-hamburger">☰</button>
        <div class="menu menu-closed">
            <p class="welcome-message">{{"Hi "+user.name if user and user.name else "Welcome"}}!</p>
            {% if user %}
                <select class="logout-menu custom-highlight">
                    <option value="" selected disabled>Logout</option>
                    <option value="here">Here</option>
                    <option value="there">There</option>
                    <option value="everywhere">Everywhere</option>
                </select>
                {% if user.subscription_status == "plus" %}
                <form method="post" action="/create-portal-session">
                    <button class="menu-button" type="submit">Manage Subscription</button>
                </form>
                {% else %}
                    <button class="menu-button" id="subscribe">Subscribe</button>
                {% endif %}
            {% else %}
                <button onclick="location='/login-start'" class="menu-button">Login</button>
            {% endif %}
                <a onclick="location='/about-me'" class="menu-link about-me">About Me</a>
                <a onclick="location='/faq'" class="menu-link faq">FAQ</a>
        </div>
        <video
        id="my-video"
        class="video-js video-player"
        controls
        preload="auto"
        width="640"
        height="264"
        data-setup="{}"
    >
        <source src="scenery.m3u8" type="application/x-mpegurl">
        <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
        >
        </p>
    </video>
    <script src="https://vjs.zencdn.net/8.23.4/video.min.js"></script>
    </body>
</html>