<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/static/index.css" rel="stylesheet">
        <script src="/index.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Scenery - a peaceful place to be on the internet.</title>
        <meta charset="utf-8">
        <meta name="description" content="Scenery - a streaming service that plays peaceful videos of random scenes, created by Shayan Bahrainy.">
    </head>
    <body>
        {% if message %}
        <h1>{{message}}</h1>
        {% endif %}
        <button class="hamburger closed-hamburger">☰</button>
        <div class="menu menu-closed">
            <p class="welcome-message">{{"Hi "+user.name if user and user.name else "Welcome"}}!</p>
            {% if user %}
                <select class="logout-menu custom-highlight">
                    <option value="" selected disabled>Logout</option>
                    <option value="here">Here</option>
                    <option value="there">There</option>
                    <option value="everywhere">Everywhere</option>
                </select>
                    {% if user.subscription_status == "plus" %}
                    <form method="post" action="/create-portal-session">
                        <button class="menu-button" type="submit">Manage Subscription</button>
                    </form>
                    {% else %}
                        <button class="menu-button" id="subscribe">Subscribe</button>
                    {% endif %}
            {% else %}
                <button onclick="location='/login-start'" class="menu-button">Login</button>
            {% endif %}
                <a href="/about-me" class="menu-link about-me">About Me</a>
                {% if is_admin %}
                <a href="/admin/dashboard" class="menu-link admin">Admin</a>
                {% endif %}
                <a href="/faq" class="menu-link faq">FAQ</a>
        </div>
    <p class="clock"></p>
    </body>
</html>