<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/static/play_test.js"></script>
        <link href="/static/play_test.css" rel="stylesheet">
    </head>
    <body>
        <video
        id="videoPlayer"
        class="video-js video-player"
        controls
        preload="auto"
        width="640"
        height="264"
        data-setup="{}"
        autoplay
        muted
    >
    </video>
    <p class="clock"></p>
    </body>
</html>