<!DOCTYPE html>
<html>
    <head>
        <title>Why subscribe to Scenery?</title>
        <link href="static/why_subscribe.css" rel="stylesheet">
        <script src="static/why_subscribe.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 class="header">Why subscribe?</h1>
        <p class="main-content">The website is ran by <a href="/about-me" class="me">me</a>, a random high schooler. I added the subscription feature, so people could support me and give me an incentive to continue work on this website. I hope you'll consider subscribing, as it's 5 dollars a month, less than the cost of a coffee. And, in return you'll get access to higher qualities of video.</p>
        <button class="subscribe-button hover-element">Subscribe</button>
    </body>
</html>