<!DOCTYPE html>
<html>
    <head>
        <title>Why subscribe to Scenery?</title>
        <link href="static/why_subscribe.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="header">So why subscribe?</h1>
        <p class="main-content">You might be asking yourself why you should add another subscription to the never-ending list of services that charge monthly. I'm here to say why this is different. You see, I personally recorded every video on this page, this isn't anything professional, it's just a website ran by <a>me</a>, a random high schooler. I just added the subscription feature, so people could support me and give me an incentive to continue work on this website. I hope you'll consider subscribing, as it's 5 dollars a month, less than the cost of a coffee.</p>
        <button class="subscribe-button">Subscribe</button>
    </body>
</html>